asgiref 
coverage==5.5
deprecation==2.1.0
Django 
eyed3==0.9.7
filetype==1.2.0
lxml==5.3.0
packaging==24.1
piexif==1.1.3
pillow==10.4.0
PyPDF2==3.0.1
pytaglib==3.0.0
python-docx==1.1.2
setuptools==72.1.0
sqlparse 
toml==0.10.2
typing_extensions==4.12.2
tzdata 
wheel==0.43.0
